<div class="container-fluid">
  <div class="front-item">
    <%= link_to "Investments", investments_path, :class => 'nav-link' %>
  </div>
  <div class="front-item">
    <%= link_to "Researches", researches_path, :class => 'nav-link' %>
  </div>
</div>
